* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100%;
  cursor: none;
}

span {
  border-radius: 1300px;
  transform: translate(-50%, -50%);
  position: absolute;
  mix-blend-mode: difference;
  transition: ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.black {
  width: 150px;
  height: 150px;
  background: #00000060;
  transition: 0.23s;
}
.green {
  width: 80px;
  height: 80px;
  background: #007ba7;
  transition: 0.18s;
}
.orange {
  width: 20px;
  height: 20px;
  background: gold;
  transition: 0.1s;
}
button {
  all: unset;
  padding: 0.9em 1.4em;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  border: solid 1px black;
  background: transparent;
}
h1,
h2 {
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  font-weight: 350;
  margin: 7px 0;
}
p {
  width: 80%;
  text-align: left;
  text-transform: capitalize;
  margin: 20px 0;
  align-self: flex-start;
  line-height: 28px;
}
.first,
.element,
.wr {
  padding: 10px;
}
.first {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 100vh;
}
.left-parent,
.part {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
.second-part {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: auto;
}
.sec-left {
  width: 100%;
  height: 100vh;
}
.last-part {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
}
.parent button {
  text-align: left;
  align-self: flex-start;
  transition: ease 0.3s;
}
button:hover {
  border: solid 1px rgb(9, 216, 195);
  font-weight: 400;
  transition: 0.4s ease-in-out;
}
.right {
  background: url(./img/banner.jpg) right/cover;
  transition: ease-in-out 0.4s;
  z-index: -2;
}
.sec-left {
  background: url(./img/img-left.jpg) center/cover;
  height: 50vh;
  z-index: -2;
}
.parent button:hover {
  transform: translateX(5px);
}

.left-part {
  margin: 0 30px;
}
.right-part {
  background: url(./img/img-right.jpg) center/cover;
  height: 50vh;
  z-index: -2;
}
footer {
  width: 100%;
  height: 100%;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 50px auto;
  font-weight: 300;
  font-size: 1.8rem;
}
form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
  text-align: center;
}
.txt-part,
.input-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: auto;
  width: 50%;
  margin: 0 auto;
}
label {
  text-transform: capitalize;
  text-align: center;
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  border-radius: 2px solid;
  outline: none;
}
textarea {
  resize: none;
  outline: none;
  width: 50%;
  margin: 0 auto;
}
textarea:focus,
input:focus {
  border: solid 2px rgb(4, 143, 129);
}
input[type="submit"] {
  all: unset;
  padding: 0.5em 1em;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 1px;
  text-align: center;
  transition: ease.4s;
}
input[type="submit"]:hover {
  color: rgb(4, 143, 129);
}
section {
  position: relative;
}
ul::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 85%;
  background: rgb(185, 187, 187);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 5%;
  margin: 30px 0;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
li {
  margin: 80px 0;
  list-style: none;
  border: solid 1px rgb(170, 167, 167);
  cursor: pointer;
  border-radius: 1350px;
  font-size: 1em;
  padding: 0.8em 1em;
  transition: ease 0.5s;
  display: flex;
  justify-content: space-around;
}
li:hover {
  border: solid 1px #09d8c3;
  transform: translateY(-9px);
}
@media screen and (max-width: 754px) {
  .first,
  .second-part,
  .last-part {
    grid-template-columns: 1fr;
  }
  .sec-left,
  .right-part {
    display: none;
  }
  li {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 700px) {
  form input {
    width: 100%;
    margin: 0 auto;
  }
}
